### nix ###
.direnv
/.pre-commit-config.yaml
result
/*-

### other ###
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
out/
src/language/generated/
src/syntaxes/*
!src/syntaxes/cisco-ios.tmLanguage.json
public/
